*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;

}

.flex-centered{
  justify-content: center;
  align-items: center;
}

.flex-between{
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 90vw;
  margin: auto;
}

.red{
  color: red;
}

.green{
  color: limegreen;
}

main{
  background-color: black;
  position: relative;
  height:calc(100vh - 8rem);
  overflow: scroll;
}

div.top-right{
  color: white;
  background-color: grey;
  position:absolute;
  top:0%;
  right: 0%;
  margin: 1vh;
  z-index: 2;
}

div.webcam{
  background-image: url('https://picsum.photos/140/280.jpg');
  height: 120px;
  width: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.webcams{
  position: relative;
  margin: 3vh auto;
  
}

section.webcams span{
  position: absolute;
  background-color: rgba(138, 138, 138, 0.555);
  color: white;
  bottom:0%;
  left:0%;
}



footer{
  background-color: #222222;
  color: white;
  height: 8rem;
  padding: 1rem;
}


footer i{
  font-size: xx-large;
}

div.esc{
  padding: 1rem;
  background-color: lightgrey;
}

