*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-centered{
  justify-content: center;
  align-items: center;
}

.flex-between{
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 90vw;
  margin: 0 auto;
}

.red{
  color: red;
}

main{
  background-color: black;
  position: relative;
}

div.top-right{
  color: white;
  background-color: grey;
  position:absolute;
  top:0%;
  right: 0%;
  margin: 1vh;
  z-index: 2;
}

div.webcam{
  background-image: url('https://picsum.photos/180/320.jpg');
  height: 140px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.webcams{
  position: relative;
  margin: 3vh auto;
  
}

section.webcams span{
  position: absolute;
  background-color: rgba(138, 138, 138, 0.555);
  color: white;
  bottom:0%;
  left:0%;
}



footer{
  background-color: #222222;
  color: white;
  height: 10vh;
  padding: 4vh;
}

nav ul{
  list-style-type: none;

}

nav ul li{
  display: inline;
  padding-left: 2vh;
}

nav ul li>i{
  display: block;
}

a{
  background-color: darkgrey;
}